.contenitore-slide{
    border: 1px solid black
}
.picture-container{
    text-align: center;
}
.picture-container img{
    max-width: 100%;
}
.content-slide{
    
}
.arrow{
    align-self: center;
    font-size: 30px;
}
.circle-container{
    
}
.circle{
    overflow: hidden;
    border-radius: 100%;
    color: rgb(207, 207, 207);
}
.circlePositionNow{
    background-color: lightblue;
}