/* MODIFICHE NAVBAR */
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link.disabled {
    color: white;
}
.bg-red{
    background-color: brown;
}
.contenitore-slide{
}
.picture-container{
    text-align: center;
}
.picture-container img{
    max-width: 100%;
    max-height: 400px;
}
.content-slide{

}
.arrow{
    align-self: center;
    font-size: 30px;
}
.circle-container{
    
}
.circle{
    overflow: hidden;
    border-radius: 100%;
    color: rgb(207, 207, 207);
    margin: 15px;
}
.circlePositionNow{
    background-color: lightblue;
}
.contenitore-2{
    display: flex;
    align-items: center;
}
.title-section{
    text-align: center;
    margin: 150px 0;
    border-bottom: brown 4px solid;
}
.foto-section{
    height: 350px;
    margin-bottom: 50px;
    font-size: 15px;
}
.foto-section img{
    width: 100%;
    height: 200px;
}
footer{
    background-color: lightslategray;
}

ul, a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.contain-footer{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}