.contenitore-slide{
    border: 1px solid black
}
.picture-container{
    text-align: center;
}
.picture-container img{
    max-width: 100%;
    max-height: 400px;
}
.content-slide{

}
.arrow{
    align-self: center;
    font-size: 30px;
}
.circle-container{
    
}
.circle{
    overflow: hidden;
    border-radius: 100%;
    color: rgb(207, 207, 207);
    margin: 15px;
}
.circlePositionNow{
    background-color: lightblue;
}
.contenitore-2{
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.title-section{
    text-align: center;
    margin: 150px 0;
}
.foto-section{
    height: 350px;
    border: 1px solid black;
    margin-bottom: 50px;
    font-size: 15px;
}
.foto-section img{
    width: 100%;
    height: 200px;
    border: 1px solid blue;
}
